@model IEnumerable<Labb1EF_ASP_core.Models.Vacation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VacationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VacationStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VacationEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employees)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VacationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VacationStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VacationEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplyDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employees.FirstName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VacationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VacationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VacationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
